<app-navbar></app-navbar>
<div class="bootstrap-wrapper" *ngIf="!issubmit">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-2">
             <h2>Instructions</h2>
            </div>
            <div class="col-md-8">
            <ng-container *ngIf="questions">
                <h3>{{questions[0].quiz.title}}</h3>
            </ng-container>
            <mat-card *ngFor="let q of questions let i=index">
                <mat-card-content><p>Q {{i+1}} ) <span class="ml10" [innerHtml]="q.content"></span>
                    </p>
                    <mat-divider>
                    </mat-divider>
                    <div class="row mt15">
                        <div class="col-md-6">
                            <div class="form-check">
                            <input class="form-check-input"  type="radio"
                            [value]="q.option1" [name]="'question_' +i"  [(ngModel)]="q.givenanswer">
                            <label class="form-check-label" for="option1">{{q.option1}}</label>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <input class="form-check-input" type="radio"
                            [value]="q.option2" [name]="'question_'+i"   [(ngModel)]="q.givenanswer">
                            <label class="form-check-label" for="option2">{{q.option2}}</label>
                        </div>
                    </div>
                    <div class="row mt20">
                        
                        <div class="col-md-6">
                            <div class="form-check">
                            <input class="form-check-input" type="radio"
                            [value]="q.option3" [name]="'question_'+i"   [(ngModel)]="q.givenanswer">
                            <label class="form-check-label" for="option3">{{q.option3}}</label>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                            <input class="form-check-input"  type="radio"
                            [value]="q.option4" [name]="'question_'+i"   [(ngModel)]="q.givenanswer">
                            <label class="form-check-label" for="option4">{{q.option4}}</label>
                        </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <div class="container text-center">
                <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
            </div>
        </div>
        <div class="col-md-2">
            <mat-card  style="margin-top: 50px;">
               <mat-card-header>
                <mat-card-title>
                    Progress 
                </mat-card-title>
                <mat-card-subtitle>
                    Quiz will automatically submitted when timer is over
                </mat-card-subtitle>
               </mat-card-header>
                <mat-card-content>
                    <h3 class="text-center">{{ getFormattedTime() }}</h3>
                    <mat-spinner mode="determinate" style="margin: auto;" [value]="(timer/(this.questions.length*2*60))*100"></mat-spinner>
                </mat-card-content>
            </mat-card> 
        </div>
    </div>
    </div>
</div>
<div class="bootstrap-wrapper" *ngIf="issubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h3>Marks Got: {{marksgot}}</h3>
                    <h3>Correct Answer: {{correctanswers}}</h3>
                    <h3>Question Attempted: {{attempted}}</h3>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button mat-raised-button color="primary" (click)="printPDF()">Print</button>
                    <button style="left: 50px;" mat-raised-button color="primary" [routerLink]="'/user-dashboard/0'">Home</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
