<mat-card *ngIf='user'>
    <h1>Welcome to profile</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="https://www.pngarts.com/files/10/Default-Profile-Picture-Download-PNG-Image.png" alt="" class="profile-image"/>
                    <h1  class="mt20 text-center">{{user['firstname']}}{{user['lastname']}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <table class="table text-center">
                        <tr>
                            <td>
                                Username
                            </td>
                            <td>{{user['username']}}</td>

                        </tr>
                        <tr>
                            <td>
                                UserId
                            </td>
                            <td>{{user['id']}}</td>
                            
                        </tr>
                        <tr>
                            <td>
                                Email
                            </td>
                            <td>{{user['email']}}</td>
                            
                        </tr>
                        <tr *ngIf="user['phone']">
                            <td>
                                Phone
                            </td>
                            <td>{{user['phone']}}</td>
                            
                        </tr>
                        <tr>
                            <td>
                                Role
                            </td>
                            <td>{{user['profile']}}</td>
                            
                        </tr>
                        <tr>
                            <td>
                                Status
                            </td>
                            <td>Active</td>  
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" style="left: 50px;">UPDATE</button>
        <button mat-raised-button color="accent" style="left: 70px;">SHARE</button>
      </mat-card-actions>
</mat-card>
