<app-navbar></app-navbar>
<br>
<h1 class="text-center f">Welcome to Exam Hub</h1><br><br>
<h2 class="text-center f2">Welcome to ExamEase Hub - Your Path to Success!</h2>
<h3 class="text-center f1">At ExamEase Hub, we're committed to providing a seamless and <br> comprehensive examination experience.
    Our platform offers a <br> diverse range of  exams tailored to various fields,
    providing a convenient <br> and accessible way to assess your knowledge and skills.</h3>
                    
              
                    


